

<button><%= link_to "New", new_task_path(@task)%></button>

<% @tasks.each do |task| %>
  <h2><%= link_to task.label, task_path(task) %></h2>
  <h2><%= task.date %></h2>
    <p><%= task.done %></p>
      <button><%= link_to "Edit", edit_task_path(task)%></button>
<% end %>
